/* 
.... COLORS ....

primary colors
turquoise -- 31ccbf 
shades -- 279399 
very dark --#0f423d
tint -- e5fbfb

secondary colors
malchite -- 12cc89 
shades -- 0e9368
tint -- #d4f0e4

tertiary colors
brick-red -- cc313e
tint -- #fddde0
shades -- #531318

grays
light gray -- #f5f5f5
medium gray -- #cccccc

*/

/*  >>>> CSS RESET <<<< */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color:#f6f6f6ef ;
    color: #0c0c0cf1;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;;
}

/* >>>> TYPOGRAPHY <<<< */

h1{
    color:#0f423d;
    font-weight: 600;
    font-size: 4.8rem;
    letter-spacing: -2px;
}

h2{
    font-weight: 600;
    font-size: 3.8rem;
    letter-spacing: -2px;
}

h3{
    font-weight: 600;
    font-size: 3.2rem;
    letter-spacing: -2px;
}

img{
    width: 300px;
}

p{
    font-size: 1.8rem;
    font-weight: 400;
}

a{
    font-size: 2rem;
    text-decoration: none;
    
}

ul{
    
    list-style: none;
}

/* >>>> NAVBAR <<<< */

.nav-bar{
    margin-bottom: 15rem;
}

.highlight{
    background-color: #FF9F8A ;
    padding: 0.6rem 1.2rem;
    color: #531318;
    border-radius: 10px;
    
}

.header-span{
    font-size: 6.2rem;
    margin-bottom: 5.9rem;
}
.header{
    text-align: center;
}

.card{
    text-align: center;
    margin-bottom: 1.5rem;
    border-radius: 12px;
}
/* LAYOUT CONTAINERSs */

.main-page{

    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}