/* 
.... COLORS ....

primary colors
turquoise -- 31ccbf 
shades -- 279399 
very dark --#0f423d
tint -- e5fbfb

secondary colors
malchite -- 12cc89 
shades -- 0e9368
tint -- #d4f0e4

tertiary colors
brick-red -- cc313e
tint -- #fddde0
shades -- #531318

grays
light gray -- #f5f5f5
medium gray -- #cccccc

*/

/*  >>>> CSS RESET <<<< */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f6f6f6ef ;
    color: #0c0c0cf1;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;;
}

/* >>>> TYPOGRAPHY <<<< */

h1{
    color:#0f423d;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -2px;
}

h2{
    font-weight: 600;
    font-size: 38px;
    letter-spacing: -2px;
}

h3{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -2px;
}

img{
    width: 300px;
}

p{
    font-size: 18px;
    font-weight: 400;
}

a{
    
    text-decoration: none;
    
}

ul{
    
    list-style: none;
}

/* >>>> NAVBAR <<<< */

.nav-bar{
    margin-bottom: 150px;
}

.highlight{
    background-color: #FF9F8A ;
    padding: 6px 12px;
    color: #531318;
    border-radius: 10px;
    
}

.header-span{
    font-size: 62px;
    margin-bottom: 59px;
}
.header{
    text-align: center;
}

.card{
    text-align: center;
    margin-bottom: 15px;
    border-radius: 12px;
}
/* LAYOUT CONTAINERSs */